:root {
  --palette-1: #53396f;

  --palette-2: #d9f2ff;

  --palette-2-dark: #111f4d;

  --palette-3: #295043;
  --background-color: #feffff;
}
body {
  background-color: var(--palette-3);
}
.main-container {
  font-family: "Poppins", serif;
  max-width: 1400px;
  margin: 0 auto;
}
.hero {
  background-image: linear-gradient(
      rgba(97, 179, 144, 0.3),
      rgba(97, 179, 144, 0.3)
    ),
    url("../images/watercolor-hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 11/6;
}
header {
  padding: 200px 0;
  color: #fff;
  text-align: center;
}
header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.5;
  margin: 30px 0;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
}

header a {
  font-size: 14px;
  font-weight: 700;
  color: var(--palette-1);
  background-color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  max-width: fit-content;
  margin-top: 32px;
  letter-spacing: 3px;
}
.main {
  background-color: var(--background-color);
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section h3,
section h2 {
  text-align: center;
  line-height: 1.5;
  color: var(--palette-1);
  font-weight: 700;
  margin: 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-top-grid {
  margin-bottom: 30px;
  gap: 64px;
}
.main-top-grid img {
  filter: brightness(1.5);
  max-width: 100%;
  display: block;
}
.main-top-grid h3 {
  text-align: left;
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.4;
  font-size: 16px;
  letter-spacing: 3px;
  color: var(--palette-1);
  margin: 0;
}
.main-top-grid h2 {
  text-align: left;
  color: var(--palette-1);
  font-weight: 700;
  font-size: 40px;
  margin: 0;
  line-height: 1.5;
}
.main-top-grid p {
  color: var(--palette-1);
  opacity: 0.8;
}
.table-container {
  background-color: #eff3f2;
  overflow-x: auto;
  padding: 20px;
}
.artist-table h3 {
  margin: 30px;
}
table th {
  background-color: var(--background-color);
}
table td,
table th {
  padding: 9px;
  border: 1px var(--palette-1) solid;
}
.cafes {
  background-color: #eff3f2;
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section h3 {
  letter-spacing: 5px;
  font-size: 16px;
  opacity: 0.5;
}
section h2 {
  font-size: 40px;
}

.cafe-grid {
  padding: 0;
  gap: 64px;
}

.card {
  background-color: var(--background-color);
  margin: 30px;
}
.card-header {
  max-width: 100%;
  gap: 0;
}
.card-header img {
  max-width: 100%;
  display: block;
}
.card-header .map {
  aspect-ratio: 1/1;
}
.card-body {
  padding: 30px;
}
.card-body h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: var(--palette-1);
  margin: 0;
}
.card-body h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: var(--palette-1);
  margin: 0;
}
.card-body p {
  color: var(--palette-1);
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
}
.card-button {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: var(--palette-1);
  text-decoration: none;
}
.gallery {
  text-align: center;
}
.gallery-grid {
  margin-top: 20px;
  max-width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 64px;
}
footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/watercolor-footer.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--palette-2);
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  gap: 32px;
  padding: 100px;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
}
footer a {
  color: var(--palette-2);
}
footer .about-color ul {
  list-style: none;
  padding: 0;
}
.github-link {
  opacity: 80%;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
  section,
  .cafes {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .card {
    margin: 30px 0;
  }
  .card-header {
    gap: 0;
  }
  .card-header img {
    display: none;
  }
  .card-header .map {
    aspect-ratio: 16/9;
  }
  .gallery-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
